body {
    font-family: -apple-system, BlinkMacSystemFont, "文泉驛正黑", "WenQuanYi Zen Hei", "蘋方-繁", "PingFang TC", "儷黑 Pro", "LiHei Pro", "Noto Sans CJK", "思源黑體", 'PingFang SC', "Roboto", 'Helvetica Neue', "微軟正黑體", "Microsoft JhengHei", 'Microsoft YaHei', 'Arial', SimSun, sans-serif;
	line-height: 1.7;
}


div.footer {
    background-color: gray;
}

button.pad {
    margin-bottom: 3px;
    margin-right: 1.5px;
    margin-left: 0.2px;
}


div#section-1 {
    background-color: gray;
    border-radius: 5%;
}

blockquote {
	font-size: 15.5px;
}

.btn-gr {
	margin-right: 4px;
	margin-bottom: 3px;
}
