.article {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", 'Helvetica Neue', 'Arial', "文泉驛正黑", "WenQuanYi Zen Hei", "蘋方-繁", "PingFang TC", 'PingFang SC', "儷黑 Pro", "LiHei Pro", "Noto Sans CJK", "思源黑體", "微軟正黑體", "Microsoft JhengHei", 'Microsoft YaHei', SimSun, sans-serif;
}


div.footer {
    background-color: gray;
}

button.pad {
    margin-bottom: 3px;
    margin-right: 1.5px;
    margin-left: 0.2px;
}


div#section-1 {
    background-color: gray;
    border-radius: 5%;
}
